#section1{
    background:url(../../project/miaov/images/star.jpg) center center no-repeat;
}
#section2 .intro{
    left: -150%;
    position: relative;
}
#section2 p{
    display: none;
}
#section3 .intro{
    left: 140%;
    position: relative;
}
.section img{
    display: none;
}