#pagepiling img{
    display: none;
}
#pagepiling canvas{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}


#section2 .intro{
    left: -150%;
    position: relative;
}
#section2 p{
    display: none;
}
#section3 .intro{
    left: 140%;
    position: relative;
}

.section{
    text-align: center;
}

.section .center{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}